@import url('https://fonts.googleapis.com/css?family=Alice|Roboto:300,400,700|Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Eczar:400,500,700&display=swap');
h1, p {
  font-family: Lato;
}
.eczar {
  font-family: 'Eczar', serif;
}
.varela {
  font-family: 'Varela Round', sans-serif;
}
.roboto {
  font-family: 'Roboto', serif;
}
.alice {
  font-family: 'Alice', serif;
}
.sans-serif {
  font-family: 'Roboto', serif;
}
.ts-a {
  text-shadow: 0px 1px 3px rgba(0,0,0,.2);
}
.bg-a {
  background: rgba(0,0,0,0.6) url('https://q-cf.bstatic.com/images/hotel/max1024x768/130/130494383.jpg');
}
.bg-cover {
  background-size: cover;
}
.bg-center {
  background-position: center;
}
.f1_ {
  font-size: 6rem
}



.blur {
  filter: blur(2px);


}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}